<mat-toolbar>Lista de cursos</mat-toolbar>

<ng-template #carregando>
    <mat-progress-spinner></mat-progress-spinner>
</ng-template>

<div class="componente-container">
    <div *ngIf="cursos$ | async as cursos; else carregando">
        
        <table mat-table [dataSource]="cursos">
          
            <!-- Codigo Column -->
            <ng-container matColumnDef="codigo">
              <th mat-header-cell *matHeaderCellDef> Codigo </th>
              <td mat-cell *matCellDef="let curso"> {{curso.codigo}} </td>
            </ng-container>
          
            <!-- Nome Column -->
            <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef> Nome </th>
              <td mat-cell *matCellDef="let curso"> {{curso.nome}} </td>
            </ng-container>
          
            <!-- Instrutor Column -->
            <ng-container matColumnDef="instrutor">
              <th mat-header-cell *matHeaderCellDef> Instrutor </th>
              <td mat-cell *matCellDef="let curso"> {{curso.instrutor}} </td>
            </ng-container>
          
            <!-- Local Column -->
            <ng-container matColumnDef="local">
              <th mat-header-cell *matHeaderCellDef> Local </th>
              <td mat-cell *matCellDef="let curso"> {{curso.local}} </td>
            </ng-container>

            <!-- Carga Horaria Column -->
            <ng-container matColumnDef="carga">
                <th mat-header-cell *matHeaderCellDef> Caraga Horaria </th>
                <td mat-cell *matCellDef="let curso"> {{curso.carga}} </td>
            </ng-container>

            <!-- Data Inicio Column -->
            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef> Data Inicio </th>
                <td mat-cell *matCellDef="let curso"> {{curso.data}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="colunasTabela"></tr>
            <tr mat-row *matRowDef="let row; columns: colunasTabela;"></tr>

       
          
          </table>

    </div>
    <div class="linha-botoes">
      <button mat-raised-button color="primary" routerLink="/curso/cadastrar">Incluir</button>
    </div>
    
    <div class="linha-botoes">
      <button mat-raised-button color="primary" routerLink="/curso/">Voltar</button>
    </div>

</div>

